html {
    scroll-behavior: smooth;
}


/* HEADERIII */
header {
    display: flex;
    justify-content: space-around;
    background-color: #1C1E53;
}

header p {
    font-size: 40px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    padding-top: 40px;
    width: 700px;
    display: flex;
    justify-content: space-around;
}

li a {
    font-size: 20px;
    color: #BBBBCB;
    font-family: 'Fjalla One', sans-serif;
}

.active {
    color: aliceblue;
    text-decoration: underline;
}

.contactborder {
    border: 1px solid rgb(150, 152, 154);;
    padding: 16px 48px;
    border-radius: 41px;
    color: white;
}


/* SECTION 1 */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
    border: 1px black solid;
}

.s1 {
    background-color: #1C1E53;
    height: 668px;
}

.s1div {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.s1div img {
    height: 500px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.emineminfo h2 {
    font-family: 'Fjalla One', sans-serif;;
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 20px;
    color: white;
}

.emineminfo p {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: rgb(184, 187, 191);
}

.emineminfo h3 {
    color: #1B1C2B;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: 64px;
    padding: 16px 56px;
    max-width: 230px;
    width: 100%;
    border-radius: 41px;
    background-color: #FCD980;
}

.emineminfo {
    max-width: 500px;
    padding: 50px 50px;
}



/* SECTIONNN 2 */

.s2 {
    height: 1000px;
    background-color: #F4F6FC;
}

.cards img {
    height: 30px;
    max-width: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.musicwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cards {
    max-width: 325px;
    padding: 48px 38px;
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    transition: scale 400ms;
}

.cards p {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #5f5f66;
    padding-top: 12px;
}

.cards a {
    color: #282938;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
}

.s2text {
    color: #282938;
    max-width: 700px;
    width: 100%;
    text-align: center;
    margin-left: 290px;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    padding-top: 128px;
    padding-bottom: 47px;
}