html {
    scroll-behavior: smooth;
}


/* HEADERIII */
header {
    display: flex;
    justify-content: space-around;
    background-color: #1C1E53;
}

header img {
    height: 50px;
    margin-top: 25px;
}

header p {
    margin-top: 30px;
    font-size: 40px;
    padding-bottom: 32px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

nav ul {
    width: 700px;
    display: flex;
    justify-content: space-around;
}

li {
    margin-top: 40px;
}

li a {
    font-size: 20px;
    color: #BBBBCB;
    font-family: 'Fjalla One', sans-serif;
}

.active {
    color: aliceblue;
    text-decoration: underline;
}

.contactborder {
    border: 1px solid rgb(150, 152, 154);;
    padding: 16px 48px;
    border-radius: 41px;
    color: white;
}


/* SECTION 1 */
.container {
    max-width: 1280px;
    width: 100%;
    margin: 0px auto;
}

.s1 {
    background-color: #1C1E53;
    height: 668px;
}

.s1div {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.s1div img {
    height: 500px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.emineminfo h2 {
    font-family: 'Fjalla One', sans-serif;;
    font-weight: 700;
    font-size: 64px;
    padding-bottom: 20px;
    color: white;
}

.emineminfo p {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    color: rgb(184, 187, 191);
}

.emineminfo h3 {
    color: #1B1C2B;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    margin-top: 64px;
    padding: 16px 56px;
    max-width: 230px;
    width: 100%;
    border-radius: 41px;
    background-color: #FCD980;
}
.emineminfo h3:hover {
    background-color: #FDE4A6;
}
.emineminfo {
    max-width: 500px;
    padding: 50px 50px;
}



/* SECTIONNN 2 */

.s2 {
    max-width: 840px;
    width: 100%;
    margin: 128px auto;
}

.s2div {
    display: flex;
    flex-direction: column;
}

.s2 h1 {
    color:  #282938;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
}

.s2 p {
    color:  #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
    margin-top: 12px;
}

.points {
    display: flex;
    flex-direction: row;
}

.points h4 {
    color:  #282938;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-left: 17px;
    margin-top: 16px;
}

.s2divimg {
    max-width: 728px;
    width: 100%;
    height: 423px;
}

.imgback {
    margin-top: 64px;
    display: flex;
    width: 840px;
    height: 508px;
    padding: 42px 55px 43px 57px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: linear-gradient(147deg, #22212056 0%, #4d515337 99.99%);
}


/* SECTION 3 */

.s3 {
    display: flex;
    margin-top: 135px;
    justify-content: space-between;
}

.s3left h3 {
    color:  #282938;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    width: 320px;
    padding-bottom: 16px;
}

.s3left h2 {
    color:  #2405F2;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
}
.s3left {
    padding-right: 136px;
}

.answer h1 {
    color: #2405F2;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    padding-right: 53px;
}
.answer p {
    color:  #282938;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    padding-bottom: 16px;
    padding-right: 242px;
    width: 580px;
}
.answer {
    display: flex;
}

.N1 h6 {
    color:  #282938;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    width: 624px;
    padding-bottom: 60px;
    padding-left: 78px;
}
.answer img {
    width: 16px;
    height: 16px;
    margin-top: 10px;
    transform: rotate(45deg);
    margin-left: 130px;
}

.N2 {
    display: flex;
}

.N2 h1 {
    color: #2405F2;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
    padding-right: 53px;
}

.N2 p {
    color:  #282938;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    width: 580px;
    padding-bottom: 64px;
}

.N2 img {
    width: 16px;
    height: 16px;
    margin-top: 10px;
    margin-left: 120px;
}



/* SECTION 4 */
.s4 {
    background-color:  #F4F5F5;
    margin-top: 128px;
}
.both {
    display: flex;
    justify-content: space-around;
}
.s4both h5 {
    color:  #282938;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    width: 515px;
    padding-bottom: 16px;
}
.s4 h6 {
    padding-top: 80px;
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    margin-left: 64px;
    margin-bottom: 4px;
}

.s4both p {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    width: 515px;
    padding-bottom: 80px;
}

.s4 img {
    width: 100%;
}

/* SECTION 10 */

.s10 {
    margin: 128px auto;
    max-width: 1260px;
    width: 100%;
}

.s10 h1 {
    color: #282938;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-bottom: 48px;
    margin-left: 357px;
}

.linecircle {
    display: flex;
}
.linecircle h5 {
    opacity: 0.4;
    width: 224px;
    height: 2px;
    margin-right: 56px;
}
.linecircle img {
    width: 24px;
    height: 24px;
    margin-right: 24px;
}

.circletext {
    display: flex;
    margin-top: 32px;
}

.circletext div {
    margin-right: 44px;
}

.circletext h3 {
    color:  #282938;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.circletext a {
    color:  #282938;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}
.circletext p {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    width: 271px;
}


/* FOOOTER */

footer {
    margin-top: 130px;
    height: 490px;
    width: 100%;
    background-color: #1C1E53;
}

.uppart {
    display: flex;
    max-width: 1060px;
    width: 100%;
}

.left {
    max-width: 380px;
    width: 100%;
    margin-left: 160px;
}
.right {
    max-width: 380px;
    width: 100%;
    margin-left: 260px;
}

.uppart h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    margin-top: 96px;
}

.uppart h5 {
    color:  #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    margin-top: 14px;
}

.uppart img {
    width: 35px;
    height: 35px;
    margin-right: 25px;
    margin-top: 28px;
}

.yellowpart {
    background-color: #FCD980;
    max-width: 520px;
    width: 100%;
    height: 95px;
    display: flex;
    margin-left: 160px;
}

.yellowpart h4 {
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; 
}

.yellowpart h6 {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}
.yellowpart div {
    margin-top: 17px;
    margin-left: 37px;
}

.downpart {
    background-color: white;
    height: 92px;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.downpart h1 {
    color:  #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-left: 160px;
}

.downpart a {
    color:  #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-right: 32px;
}

.nav2 {
    display: flex;
    max-width: 475px;
    width: 100%;
}

/* SEECTION 5 */

.s5 {
    background-color: #F4F6FC;
    height: 712px;
    margin-top: 152px;
    width: 100%;
}

.s5 h1 {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
    padding-top: 128px;
}

.people {
    display: flex;
    justify-content: space-around;
    margin-top: 96px;
}
.people div {
    background-color: white;
    max-width: 296px;
    width: 100%;
    height: 344px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
}

.people img {
    width: 160px;
    border-radius: 50%;
}

.people h2 {
    color: #1D2130;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.people p {
    color:#1D2130;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}






/* SECTION 6   MUSICCC PAGE */

.s6 {
    width: 100%;
    height: 416px;
    background-color: #F4F6FC;
}

.intro {
    display: flex;
    flex-direction: column;
    padding-top: 96px;
}

.intro p {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
}

.intro h1 {
    color:  #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; 
    margin-top: 4px;
    margin-bottom: 24px;
}

.socials {
    display: flex;
    flex-direction: row;
    width: 35px;
    height: 35px;
    margin-left: 680px;
    margin-top: 32px;
}
.socials img {
    margin-right: 27px;
}



/* SECTION 7 */

.s7 {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.abovetext {
    display: flex;
    justify-content: center;
    margin-top: 96px;
    margin-bottom: 48px;
}
.abovetext h1 {
    color:  #2405F2;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-right: 32px;
}
.abovetext p {
    color: #282938;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    opacity: 0.7;
    margin-right: 32px;
}

.cardwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    max-width: 623px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 64px;
}

.card img {
    width: 300px;
    height: 250px;
}
.card h2 {
    color: #282938;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; 
    margin-bottom: 12px;
    margin-top: 24px;
}

.card p {
    color:  #282938;
    text-align: justify;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
}

.arrow {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
}

.arrow a {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; 
    margin-right: 16px;
}
.arrow img {
    width: 24px;
    height: 25px;
}

.backg {
    display: flex;
    width: 100%;
    padding: 30px 39px 33px 39px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(147deg, #F4EDE1 0%, #98B1C6 99.99%);
}
.backg2 {
    display: flex;
    width: 100%;
    padding: 30px 39px 33px 39px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(147deg, #FFD3AF 0%, #4F56FF 99.99%);
}
.backg3 {
    display: flex;
    width: 100%;
    padding: 30px 39px 33px 39px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(147deg, #EEBCA7 0%, #C8C8C8 99.99%);
}
.backg4 {
    display: flex;
    width: 100%;
    padding: 30px 39px 33px 39px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(147deg, #C2E7F2 0%, #98A4FF 99.99%);
}
.backg5 {
    display: flex;
    width: 100%;
    padding: 30px 39px 33px 39px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(147deg, #C5BCFF 0%, #9BF6D5 99.99%);
}
.backg6 {
    display: flex;
    width: 100%;
    padding: 30px 39px 33px 39px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(147deg, #D2D6FD 0%, #D6ACEA 99.99%);
}



/* SECTION 8 */

.s8 {

    margin: 0 auto;
    max-width: 730px;
    width: 100%;
}

.s8 div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 128px;
}

.s8 h1 {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
} 
.s8 p {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-top: 20px;
}
.s8 a {
    color: #1B1C2B;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    display: flex;
    width: 230px;
    height: 64px;
    padding: 16px 67px 16px 66px;
    justify-content: center;
    align-items: center;
    border-radius: 41px;
    background: #FCD980;
    margin-top: 40px;
}



/* SECTION 9 */

.s9 {
    max-width: 1285px;
    width: 100%;
    margin: 128px auto;
}

.s9up h1 {
    color: #282938;
    font-family: Poppins;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.s9up p {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 64px; 
}

.tickets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ticketprice {
    max-width: 406px;
    width: 100%;
    height: 754px;
    padding-top: 64px;
    padding-left: 48px;
    border-radius: 12px;
    background: #F4F6FC;
}

.price {
    display: flex;
}

.price h1 {
    color: #282938;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
}

.price h5 {
    color:  #2405F2;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 8px;
    padding-top: 15px;
}

.info h4 {
    color:  #282938;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
}

.info h6 {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; 
    margin-bottom: 50px;
    width: 281px;
}

.sources {
    display: flex;
    margin-bottom: 20px;
}

.sources p {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-left: 12px;
}

.button {
    color: #F4F6FC;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background: #282938;
    margin-top: 79px;
}

.ticketprice2 {
    max-width: 406px;
    width: 100%;
    border: 1px black solid;
    height: 754px;
    padding-top: 64px;
    padding-left: 48px;
    border-radius: 12px;
    background: #1C1E53;
}

.price2 {
    display: flex;
    margin-bottom: 20px;
}

.price2 h1 {
    color: #FFF;
    font-family: Poppins;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    margin-right: 8px;
}

.price2 h5 {
    color:#FCD980;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding-top: 15px;
}

.info2 h4 {
    color: #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; 
}

.info2 h6 {
    color:  #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 50px;
    width: 281px;
}

.sources2  {
    display: flex;
    margin-top: 20px;
}

.sources2 p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
    margin-left: 12px;
}

.button2 {
    color: #282938;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px; 
    display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background:  #FCD980;
    margin-top: 79px;
}



/* CONTACTTT SECTION 11 */

.s11 {
    max-width: 1061px;
    width: 100%;
    margin: 128px auto;
}

.s11up h1 {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}
.s11up h4 {
    color: #282938;
    text-align: center;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    max-width: 562px;
    width: 100%;
    margin-bottom: 64px;
    margin-left: 249px;
    margin-top: 16px;
}


.login {
    max-width: 1061px;
    width: 100%;
    height: 640px;
    background-color: #F4F6FC;
    display: flex;
    flex-wrap: wrap;
    padding-top: 55px;
    padding-left: 77px;
    padding-bottom: 69px;
}

.login div {
    display: flex;
    flex-direction: column;
    margin-right: 32px;
    margin-top: 24px;
}
.login p {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 6px;
}

.message {
    display: flex;
    flex-direction: column;
    max-width: 908px;
    width: 100%;
    height: 176px;
}

textarea {
    width: 100%;
    resize: none;
    height: 138px;
    outline: none;
    background-color: #f4f6fc;
    padding: 18px 32px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

input[type=text], input[type=email], input[type=tel] {
    display: inline-flex;
    padding: 18px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 438px;
    background-color: #F4F6FC;
}

::placeholder {
    color: #000;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

input[type=submit] {
    color: #F4F6FC;
    font-family: 'Manrope', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    display: flex;
    width: 254px;
    height: 64px;
    padding: 15px 51px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 41px;
    background: #282938;
    border: none;
}

.submit {
   margin-top: 32px;
}


/* SECTION 12 */

.s12 {
    width: 1280px;
    margin: 128px auto;
}

.gradient {
    width: 300px;
    height: 600px;
    background: linear-gradient(306deg, #1C1E53 0%, rgba(28, 30, 83, 0.42) 100%);
    position: relative;
    padding-top: 312px;
    padding-left: 48px;
}

.s12left img {
    position: absolute;
    width: 843px;
    height: 600px;
}

.s12flex {
    display: flex;
}

.gradient p {
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 200px;
    margin-top: 16px;
}

.gradient h3 {
    color:  #FFF;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
}

.arrow2 a{
    color: #FCD980;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    margin-right: 16px;
}
.arrow2 h5 {
    font-size: 26px;
    color:  #FCD980;
}
.arrow2 {
    display: flex;
    margin-top: 40px;
}

.s12text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}
.viewmore {
    display: flex;
    padding-top: 25px;
}
.viewmore a {
    color: #282938;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    width: 100%;
}
.viewmore h5 {
    font-size: 26px;
    color:  #282938;
}

.s12text h1 {
    color:  #282938;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px;
}

.s12right img {
    height: 284px;
    margin-bottom: 32px;
}
.s12right {
    display: flex;
    flex-direction: column;
    margin-left: 620px;
}
